*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
#title{
    display: block;
    position: absolute;
    color: white;
    margin-left: 30px;
    margin-top: 80px;
}
.ui-button {
    float: right;
    position: absolute;
    margin-left: 150px;
    top: 30px;
}
.header{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 40px;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);
    border-top: 2px solid #ffa00a;
    background-color: #3c3f41;
}
.navBar{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 155px;
    background-color: #3e9ed9;
}
.navBar>.navBar_ul{
    margin-left: 200px   ;
    display: inline;
    float: left;
}
.navBar_li{
    position: relative;
    display: inline;
    float: left;
    margin-left: 10px;
}
.navBar_li>a{
    display: inline-block;
    text-align: center;
    line-height: 50px;
    top: 0px;
    color:white;

    text-decoration: none;
    width: 120px;
    height: 50px;
}
.navBar_li>a:hover {
    background-color: #2676e3;
}
/*查询框*/
.search{
    position: relative;
    width: 70%;
    height: 120px;
    margin-top: 250px;
    /*居中*/
    margin-left: auto;
    margin-right:auto;
    border:1px solid #999999;
    /* 背景颜色 */
    background-color: #eef1f8;
    /* 圆角 */
    border-radius: 3px;
    /* 边框阴影 */
    box-shadow:0 0 60px #AFB1B3;
}

#search_form{
    height: 90px;
    width: 100%;
}
.search_frame_ul{
    position: relative;
    float: left;
    margin-top: 45px;
    margin-left: 30px;
}
.search_frame_li{
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 30px;
}
.search_btn{
    position: absolute;
    width: 100%;
    float: right;
    margin: 15px  0px;
}
.search_frame_ul>li>span>label{
    font-size:1.25em;
}
.search_frame_li>input{
    height: 26px;
}
/* search-result-table*/
.table{
    position: relative;
    height: auto;
    /*float: left;*/
    width: 70%;
    margin-top: 30px;
    /*居中*/

    margin-left: auto;
    margin-right:auto;
    table-layout: fixed;
    /* 边框阴影 */
    box-shadow:0 0 60px #AFB1B3;
}
.search-result tr{
    height: 40px;
}
.book_btn{
    position: relative;
    margin: 0;
    top: 2px;
    right: 40px;
}
/* decorated table */
#customers
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
}

#customers td, #customers th
{
    font-size:1em;
    text-align: center;
    border:1px solid #f8f8f8;
    padding:3px 7px 2px 7px;
}

#customers th
{
    font-size:1.1em;
    text-align:center;
    padding-top:5px;
    padding-bottom:15px;
    background-color: #6b6f59;
    color:#ffffff;
}

#customers tr.alt td
{
    color:#000000;
    text-align: center;
    background-color: #6d7a57;
}
.th>th{
    height: 50px;
    width: 200px;
    color: white;

    background-color: #3195d3;
}
.bottom{
    position: absolute;
    width: 100%;
    height: 274px;
}
.footer-con{
    position: relative;
    width: 100%;
    height: 194px;
    background-color: #f8f8f8;
}
.footer-txt{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #3c3f41;
}

