@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
body{
    height: 100%;
}
#title{
    display: block;
    position: absolute;
    color: white;
    margin-left: 30px;
    margin-top: 80px;
}
.ui-button {
    float: right;
    position: absolute;
    margin-left: 150px;
    top: 30px;
}
.header{
    position: absolute;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);
    background-color: #3c3f41;
    border-top: 2px solid #ffa00a;
}
/*轮播图*/
.longSlide{
    margin: 220px auto 100px;
    width: 1230px;
    height: 600px;
    background-color: #9da0a4;

}
input[type="text"] {
    width: 180px;
    height: 20px;
}
input[type="password"]{
    width: 180px;
    height: 20px;
}
.LogRegFrame{
    position: relative;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    width: 30%;
    height: 500px;
    border: white solid 5px;
    background-color: #fff;

    /* 圆角 */
    border-radius: 8px;
    /* 边框阴影 */
    box-shadow:0 0 80px #1a1a1a;
}
/*模块切换栏*/
.top_tab_line{
    height: 30px;
    background-color: #fff;
}
.tab_line{
    margin:20px 62px;
    width: 300px;
    height: 40px;
}
.tab_line a{

    position: absolute;
    display: inline-block;
    line-height: 50px;
    cursor: pointer;
    float:left;

    color:#000000;
    text-decoration:none; /* 取消a标签的默认样式*/
    font-family: "微软雅黑";
    font-size: 20px;

}
.border{
    border-bottom: 3px solid #ffa00a;
}
.tab_line a:nth-child(1){
    margin-left: 170px;
}
.vline{
    position: absolute;
    z-index: 1;
    float: left;
    margin:20px 120px;
    color: #999;
}

/*登录框样式*/

.loginFrame form{
    width: 350px;
    height: 300px;
    margin: 80px 0px 80px 30px;
}
.loginFrame table{
    width: 300px;
    height: 160px;
    margin: 20px 30px;
}
.loginFrame table td input{
    height: 25px;
    margin-top: 10px;
}
.loginFrame table tr td img{
    margin-right: 5px;
}
/*注册框样式*/
.registerFrame{
    display: none;
    width: 30%;
    height: 70%;
}
.registerFrame form{
    width: 500px;
    height: 300px;
    margin: 45px auto;
}
.registerFrame table {
    table-layout:fixed;
    width: 400px;
    height: 260px;
    margin: 30px 30px;
}
.registerFrame table tr td img{
    margin-right: 5px;
}
.registerFrame table tr td #yzm_button{
    margin-right: 80px;
}

.submitBtn{
    display: block;
    width: 196px;
    margin: 0px auto;
    cursor: pointer;
    padding: 10px 0 8px;
    line-height: 18px;
    font-size: 16px;

    border: 1px solid #ffb33b;
    color: #FFF;
    background: #FFA00A;
    font-weight: bold;
    text-align: center;
    font-style: normal;
}
.bottom{
    position: absolute;
    width: 100%;
    height: 274px;
}
.footer-con{
    position: relative;
    width: 100%;
    height: 194px;
    background-color: #f8f8f8;
}
.footer-txt{
    position: relative;
    width: 100%;
    height: 80px;
    bottom: 0;
    background-color: #3c3f41;
}

